*.pyc
*.pyo
*.so
*.tar.gz
*.log
*.stc
*~
.#*
*.swp
*.lprof
*.npy
*.zip
*.fif.gz
*.nii.gz
*.tar.*
*.egg*
*.tmproj
*.png
.DS_Store
events.eve
foo-lh.label
foo.lout
bar.lout
foobar.lout
epochs_data.mat
memmap*.dat
tmp-*.w
tmtags
auto_examples
MEGSIM*
build
coverage

dist/
pip-log.txt
.coverage
tags
doc/coverages
doc/samples
cover

*.orig
*.gch
.remote-sync.json
.vscode

# interim/
# scratch/
src/0_prepare/orig_preprocessed

web/_site/
web/.sass-cache/
web/.jekyll-cache/
web/.jekyll-metadata
web/Gemfile.lock

lib/brainspheres/data
results